<div _ngcontent-hvg-c7="" class="col-md-12">
  <div _ngcontent-hvg-c7="" class="container">
    <h5 _ngcontent-hvg-c7="" class="list-group-item" style="margin-top: 1em;" >Basic important points to keep in mind to set preventive measures
      and also avoid further spread of (COVID-19) / Corona virus.</h5>
    <ul _ngcontent-hvg-c7="" class="list-group">
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-primary">1. Regularly wash your hands with and
        alcohol-based rub or wash it with soap and water.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-secondary">2. Maintain at least 3 metres of
        distance between you and anyone who is coughing or sneezing.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-success">3. Don't touch your eyes, nose or mouth
        frequently. Virus can be transferred easily if the hands are contaminated.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-danger">4. Practicing a good respiratory hygiene
        is a must. Cover your mouth while sneezing or coughing.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-warning">5. If you are having cough and difficulty
        breathing, seek medical care immediately.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-info">6. Keep in mind about the virus prevention
        guidelines set by your government or local authority.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-light">7. Avoid travelling to places which are
        affected by corona virus outbreak and keep in mind about the travel advisory set by the local body.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-dark">8. Eat healthy, hygienic &amp; well cooked
        food.</li>
      <li _ngcontent-hvg-c7="" class="list-group-item list-group-item-dark">9. Refer WHO website for further info by <a
          _ngcontent-hvg-c7="" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
          target="_blank">clicking here</a></li>
    </ul>
  </div>
</div>