<h2>Coronavirus Cases and Deaths by Country</h2>
<hr />
<div class="row">
<div class="col-sm-3" style="margin-left: 0 !important;">
 
  <input type="text" class="form-control" placeholder="Search By Country..." [(ngModel)]="searchString" />

</div>

</div>
<hr />


<div style="overflow-x:auto;">
  <table class="table table table-dark table-striped tablesorter tablesorter-default" id="indexpage">
    <thead>
      <tr class="tablesorter-headerRow">
        <th data-column="0" class="tablesorter-header" tabindex="0" unselectable="on" style="user-select: none;"
         [class.active]="order === 'country'"       (click)="setOrder('country')"> 
          <div class="tablesorter-header-inner"> Country
            <i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th data-column="1" class="tablesorter-header" tabindex="0" unselectable="on" style="user-select: none;" [class.active]="order === 'Cases'"       (click)="setOrder('Cases')">
          <div class="tablesorter-header-inner"> Total <i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
      
        <th data-column="3" class="tablesorter-header" tabindex="0" unselectable="on" style="user-select: none;"[class.active]="order === 'tr'"       (click)="setOrder('tr')">
          <div class="tablesorter-header-inner">Deaths <i class="fa fa-sort" aria-hidden="true"></i> </div>
        </th>
        <th data-column="5" class="tablesorter-header" tabindex="0" unselectable="on" style="user-select: none;" [class.active]="order === 'td'"       (click)="setOrder('td')">
          <div class="tablesorter-header-inner">Recovered <i class="fa fa-sort" aria-hidden="true"></i> </div>
        </th>
        <th data-column="6" class="tablesorter-header" tabindex="0" unselectable="on" style="user-select: none;" [class.active]="order === 'ta'"       (click)="setOrder('ta')">
          <div class="tablesorter-header-inner">Critical <i class="fa fa-sort" aria-hidden="true"></i> </div>
        </th>
      
      </tr>
    </thead>
    <tbody>
      <!-- https://github.com/VadimDez/ngx-order-pipe -->
        <tr (click)="loadMapInfo(item.country)" style=" cursor: pointer;"  *ngFor="let item of  countriesDataCloned | orderBy: order:reverse | filter : 'country' : searchString; ">
          
          
          <td>
           <div style="color: white;"><span style="color : rgb(68, 149, 255);" > {{item.country}}</span></div>
          </td>
          <td>{{item.cases}}</td>
          
          <td>{{item.deaths}}</td>
          
          <td>{{item.recovered}}</td>
          <td>{{item.critical}}</td>
         
        </tr>
       
      </tbody>
  </table>
</div>


  <!-- <div class="d-flex-column" style="align-content: center;">
    <div style="text-align: center;">Total Confirmed</div>
    <h2 style="text-align: center;">{{TotalConfirmedCases | number}}</h2>
  </div> -->


  