<div class="container datasouce" style="justify-content: center; align-content: flex-end;margin-bottom: 2px; margin-top: 2px; ">
  <div class="col-sm-12 newsdiv" style="background-color: #343a40!important; color: white !important; margin-top: 0.5em; 
    margin-bottom: 0.2em; border-radius: 10px;" >

<h4 style="margin-top: 10px;">
    About me
</h4>

<hr />

  
<div class="aboutmediv">
  Hi, I am Pushpak Panchal. I am a full stack web developer at a Chicago Based Law-firm.<br /><br />
  I have built this website to help people track the current and a close-to-realtime status of the corona virus outbreak across the globe.<br /><br />
  
  It all started with a thought about building something for fun, which inturn should also be helpful for people.<br /><br />
  
  It took me less then a week to code this project and push it to a production server.<br /><br />
  
  Thanks to following tools & hosting websites which helped me build the site without paying a single penny.<br /><br />
  
  <ul>
  <li>Angular 8 + PWA</li>
  <li>Web API Services</li>
  <li>Azure to Host Web API Services</li>
  <li>Zeit.co to setup hosting + .now.sh domain and a CI/CD pipeline.</li>
  <li>GitHub for version control.</li>
</ul>


If you find any error in reporting counts please contact me so that I can update the data.

You can connect me on :

<a href="http://pushpk.com">pushpk.com</a>

You can also mail me at : pushpk.chicago[@]gmail[dot]com
</div>
</div></div>