
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <img src="../../assets/virus1600_w.png"  style="height:40px;margin-right:10px;" alt="coronavirus tracker" />
        <span class="d-sm-inline h4">Coronavirus Tracker</span></a>
      <ul class="navbar-nav mr-auto mt-lg-0">
       <li  class="navbar-nav" >
        <div class="fb-share-button" data-href="https://thevirustracker.now.sh/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthevirustracker.now.sh%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
       </li>
      </ul>

      <ul class="navbar-nav navbar-right" style="margin-right: 10%;">
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="'/home'" routerLinkActive="active" >Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="'/how-to-stay-safe'" routerLinkActive="active"> How to stay safe? </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="'/important-news'" routerLinkActive="active">Important News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="'/data-source'" routerLinkActive="active">Data Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" [routerLink]="'/about-me'" routerLinkActive="active">About Me</a>
        </li>
      </ul>
    </div>
  </nav>