<!-- <nav class=navbar navbar-expand-lg navbar-light style=background-color: #ffffff;border-bottom: 1px solid black;>    <a class=navbar-brand href=#>Track Corona Virus</a>    <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarText aria-controls=navbarText aria-expanded=false aria-label=Toggle navigation>      <span class=navbar-toggler-icon></span>    </button>    <div class=collapse navbar-collapse id=navbarText>      <ul class=navbar-nav mr-auto>        <li class="nav-item" active>          <a class="nav-link" href=#>Home <span class=sr-only>(current)</span></a>        </li>        <li class="nav-item">          <a class="nav-link" href=#>Tips To Stay Safe</a>        </li>        <li class="nav-item">          <a class="nav-link" href=#>Pricing</a>        </li>      </ul>    </div>  </nav> -->


<nav class=navbar style="background-color: #383947;color:white;justify-content: center;">
  <h6 class="infoBadge"> <span>Track Corona Virus Now | Safety Measures | Important News & Updates </span> </h6>
  <!-- <span style=float: right;> Made with by Sagar Khatri</span>  -->
  <!-- <span style=float: right;>Developed By <a href=https://twitter.com/dssagar93>Sagar Khatri</a>   </span>   -->
</nav>
<ul class="nav nav-pills mb-3 mt-3 navBar" id="pills-tab" role="tablist" style="justify-content: center;">
  <li class="nav-item"> <a class="nav-link" [routerLinkActive]="['active']" routerLink="/Home" id="pills-home-tab"
      data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> Home </a> </li>
  <li class="nav-item"> <a class="nav-link" [routerLinkActive]="['active']" routerLink="/corona-stay-safe-tips"
      id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> How to stay safe? </a>
  </li>
  <li class="nav-item"> <a class="nav-link" [routerLinkActive]="['active']" routerLink="/corona-news-updates" id="pills-home-tab"
      data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> Important News </a> </li>
  <li class="nav-item"> <a class="nav-link" [routerLinkActive]="['active']" routerLink="/data-sources" id="pills-home-tab"
      data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> Data Source </a> </li>
  <li class="nav-item"> <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about-sagar-khatri" id="pills-home-tab"
      data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> About Me </a> </li>
</ul>