agm-map {
    height: 600px;
  }

  .popup{
    background-color: 343a40; color: white;
  }
  #map {
    height: 600px;
    width: 100%;
   }

   .container {
     background-color: white;
    width: 80%;
    margin: 0 auto;
  }
  path {fill: black; stroke: white;}
  path:hover {fill: gray;}


  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    background-color: white;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }