


  <div class="container"  *ngFor="let news of newsData" style="justify-content: center; align-content: flex-end;margin-bottom: 2px; margin-top: 2px; ">
    <div class="col-sm-12 newsdiv"  >
      
     

     
        <h5 style="font-weight: bold; color : orange; padding: 0.5rem; border-bottom: 1px solid black;" >
        
        <span  class="badge badge-danger cBadge" style="margin-right: 0.5rem;">{{news.source.name}}</span>
         <a [href]="news.url" target="_blank" style="color: unset !important;">{{news.title}}</a> 
         <span  class="badge badge-primary cBadge"  style="margin-left: 0.5rem;">{{news.publishedAt | date }}</span>
        </h5>
     
     
       <div>{{news.content}} <a [href]="news.url" target="_blank" >Read More</a></div>

    </div>
  </div>


