<div class="container">

  
<div  class="row"  style="background-color: #404040 !important; color: white !important; text-align: center; justify-content: center; align-content: flex-end;width : 101% !important;margin-bottom: 2px; padding: 3px; ">

  <div style=" justify-content: center; ">
    CoronoVirus Global Cases - Source : John Hopkins University
   </div>
   
  </div>

<div  class="row" >


<div style="height: 500px; overflow: scroll; background-color: #404040; color: white; margin: 1px; " class="col-sm-2">

<app-list-of-country ></app-list-of-country>

</div>
<div style="height: 500px; overflow: scroll; background-color: #404040; color: white; margin: 1px; border: 1px solid;" class="col-sm-6">
<!-- <app-global-map></app-global-map> -->
  </div>


<div class="col-sm-2" style=" background-color: #404040; color: white; margin: 2px; border: 1px solid;height: 500px" >
<app-recovered-number></app-recovered-number>
</div>

<div class="col-sm-2" style=" background-color: #404040; color: white; margin: 2px; border: 1px solid;height: 500px" >
<app-death-number></app-death-number>
</div>
</div>
  
</div>
