<div class="container" style="background-color: #404040 !important; color: white !important;">

  <div style="background-color: #404040 !important; color: white !important; margin-top: 5px;" class="mobileSelectBox">
    <div class="col-sm-3 selectbox" style="margin-left: 0 !important;padding-top: 10px;">
 
      <select class="form-control selectpicker" (change)="filerData($event.target.value)">
        <option value="0">Global</option>
        <option *ngFor="let summary of dropdownValues" value={{summary}}>      {{summary}}</option>
      </select>
    </div>
    
  </div>
  
<div  class="row toprow"  style="background-color: #404040 !important; color: white !important; text-align: center;
 justify-content: center; align-content: flex-end;margin-bottom: 2px; margin-top: 2px; ">

 
    <div class="col-sm-6 text-center " >
        <div class="row  justify-content-end">
          <div class="col-sm-3 " >
            <h2 class="NumberOfInfections" style="color:#1877F2;">{{ TotalConfirmed  | number}}</h2>
            <h5>Infected</h5>
          </div>
          <div class="col-sm-3" >
            <h2 class="deathsnumbers" style="color:#FB3938;">{{TotalDeaths  | number}}</h2>
                          <h5>Deaths</h5>
          </div>
         
        </div>
                         
      <!-- </div>
      <div class="col-sm-3 text-center"> -->
                         
      </div>
      <div class="col-sm-6 text-center">

        <div class="row justify-content-begin" >
         
          <div class="col-sm-3">
            <h2 class="recoverednumbers" style="color:#3AA969;">{{TotalRecovered | number}}</h2>
            <h5>Recovered</h5>
          </div>
          <div class="col-sm-3">
            <h2 class="UNRESOLVEDnumbers" style="color:yellow;">{{TotalActive | number}}</h2>
            <h5>Unresolved</h5>
          </div>


                       
      </div>
      <!-- <div class="col-sm-3 text-center">  -->
      
        </div>
 
   
   
  </div>

<div  class="row" >



<div style=" background-color: #404040;  margin-top: 1px; margin-bottom: 1px; " class="col-sm-12">
<app-global-map></app-global-map>
  </div>
  <hr />

  
    <div class="col-sm-4 selectbox desktopSelectBox" >
 
      <select class="form-control selectpicker" (change)="filerData($event.target.value)">
        <option value="0">Global</option>
        <option *ngFor="let summary of dropdownValues" value={{summary}}>      {{summary}}</option>
      </select>
  
    
  </div>

  
</div>
<hr style="color: black;" class="desktopSelectBox"/>
<div  class="row" >
  <div style="background-color: #404040; color: white; margin: 1px; " class="col-sm-12">

    <app-list-of-country ></app-list-of-country>
    
    </div>

<!-- <div class="col-sm-2" style=" height: 500px; overflow-y: scroll;background-color: #404040; color: white; margin: 2px; border: 1px solid;height: 500px" >
<app-recovered-number></app-recovered-number>
</div>

<div class="col-sm-2" style=" height: 500px; overflow-y: scroll;background-color: #404040; color: white; margin: 2px; border: 1px solid;height: 500px" >
<app-death-number></app-death-number>
</div> -->
</div>
  
</div>
